:root {
    --gradient1: linear-gradient(135deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

@keyframes background-anim {
    to{
        background: var(--gradient1);
    }
}

@keyframes fill-xhair {
    to{
        fill: black;
    }
}

@keyframes aim-animation {
    0% {
        transform: translateY(-650px);
    }

    50% {
        transform: translateY(200px);
    }

    100% {
        transform: translateY(0);
    }
}


@keyframes final-animation {
    50%{
        transform: translate(-50%, -60rem);
        height: 3rem;
        width: 3rem;    
    }
    100%{
        position: absolute;
        transform: translate(-50%, -20rem);
        height: 3rem;
        width: 3rem;    
    }
}

@keyframes col-animation {
    from{
        height: 0;
    }
    to{
        height: 100vh;
    }
}

@keyframes hue-rotate {
    to{
        filter: hue-rotate(90deg);
    }
}

@keyframes tagline-animation {
    0%{
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
    70%{
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100%{
        top: -10%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: scale(0);
        opacity: 1;
    }
}

@keyframes logo-tagline-move-animation {
    to{
        top: 40%;
        left: 50%;
        transform: translate(50%, 50%);
    }
}

body{
    margin: 0;
    padding: 0;
    background: black;
    width: 100vw;
    height: 100vh;
    animation: background-anim 500ms ease forwards;
    animation-play-state: paused;
}

#logo {
    height: 10rem;
    width: 10rem;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    animation: final-animation 2000ms ease forwards;
    animation-play-state: paused;
}

#crosshair {
    fill: antiquewhite;
    z-index: 1;
    animation: aim-animation 1500ms ease;
}



#col-container{
    display: flex;
    height: 100vh;
    justify-content: space-between;
}

#col-container button{
    width: 100%;
    padding: 5px;
    bottom: 0;
    border: 1px solid black;
    background: linear-gradient(#999 0%, #666 100%);
    animation: col-animation 500ms ease forwards;
}

#col-container button:hover{
    cursor: pointer;
    background: var(--gradient1);
    animation: hue-rotate 1s linear infinite alternate;
}

#tagline{
    position: absolute;
    animation: tagline-animation 2000ms ease forwards;
    animation-play-state: paused;
}
