#card-wrapper
{
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,200px));
}
#Modal
{
    text-align: center;
}
#Modal a
{
    margin: 10px;
    text-decoration: none;
    color: black;
}
#Modal a:hover
{
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.5);
}